<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/Navbar'); %>
    <h1><%= name %> </h1>
  </body>
</html>
